<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TraveLink.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E3A87E8E7DBD61CA38B7A6C822F3C998DFA8333C</string>
				<key>dateExpires</key>
				<string>2025/08/19</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3A87E8E7DBD61CA38B7A6C822F3C998DFA8333C</string>
						<key>dateExpires</key>
						<string>2025/08/19</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DBQLS32MZV</string>
						<key>name</key>
						<string>Kensei Furuya</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3A87E8E7DBD61CA38B7A6C822F3C998DFA8333C</string>
						<key>dateExpires</key>
						<string>2025/08/19</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DBQLS32MZV</string>
						<key>name</key>
						<string>Kensei Furuya</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3A87E8E7DBD61CA38B7A6C822F3C998DFA8333C</string>
						<key>dateExpires</key>
						<string>2025/08/19</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DBQLS32MZV</string>
						<key>name</key>
						<string>Kensei Furuya</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3A87E8E7DBD61CA38B7A6C822F3C998DFA8333C</string>
						<key>dateExpires</key>
						<string>2025/08/19</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DBQLS32MZV</string>
						<key>name</key>
						<string>Kensei Furuya</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>10.27.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3A87E8E7DBD61CA38B7A6C822F3C998DFA8333C</string>
						<key>dateExpires</key>
						<string>2025/08/19</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementOnDeviceConversion.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DBQLS32MZV</string>
						<key>name</key>
						<string>Kensei Furuya</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3A87E8E7DBD61CA38B7A6C822F3C998DFA8333C</string>
						<key>dateExpires</key>
						<string>2025/08/19</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DBQLS32MZV</string>
						<key>name</key>
						<string>Kensei Furuya</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240116.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3A87E8E7DBD61CA38B7A6C822F3C998DFA8333C</string>
						<key>dateExpires</key>
						<string>2025/08/19</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DBQLS32MZV</string>
						<key>name</key>
						<string>Kensei Furuya</string>
					</dict>
					<key>versionNumber</key>
					<string>1.62.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3A87E8E7DBD61CA38B7A6C822F3C998DFA8333C</string>
						<key>dateExpires</key>
						<string>2025/08/19</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DBQLS32MZV</string>
						<key>name</key>
						<string>Kensei Furuya</string>
					</dict>
					<key>versionNumber</key>
					<string>1.62.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3A87E8E7DBD61CA38B7A6C822F3C998DFA8333C</string>
						<key>dateExpires</key>
						<string>2025/08/19</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DBQLS32MZV</string>
						<key>name</key>
						<string>Kensei Furuya</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.32</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>DBQLS32MZV.com.Kensei.TraveLink</string>
				<key>com.apple.developer.team-identifier</key>
				<string>DBQLS32MZV</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>TraveLink.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f7af3f59-58bf-4d9a-bae3-d9108b35cdc3</string>
				<key>dateExpires</key>
				<string>2025/08/19</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.Kensei.TraveLink</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>DBQLS32MZV</string>
				<key>name</key>
				<string>Kensei Furuya</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
